<nav class="navbar navbar-dark navbar-background fixed-top">
    <div>
        <a class="navbar-brand text-white" [routerLink]="['/']">E-BOS</a>
        <a *ngIf="currUser" class="navbar-brand text-white" [routerLink]="['/dashboard']">Dashboard</a>
    </div>
    <div *ngIf="!currUser">
        <span class="text-white">BECOME A SELLER : </span>
        <a href="#" class="btn btn-success mr-3" [routerLink]="['/login']">Login</a>
        <a href="#" class="btn btn-success mr-3" [routerLink]="['/register']">Signup</a>
    </div>
    <a href="#" class="btn btn-success" [routerLink]="['/cart']">
        <img style="width: 25px; height: 20px;" src="../../assets/img/cart.png">
        <span>{{getCount()}}</span>
    </a>
</nav>