<form [formGroup]="productAddForm" (ngSubmit)="addProduct(productAddForm.value)">

    <div class="form-group" [ngClass]="{'has-danger':!productAddForm.controls['name'].valid && (productAddForm.get('name').touched || submitted)}">
        <h2>Add Products</h2>
        <label for="name"><b>Product Name :</b></label>
        <input class="form-control" type="text" placeholder="Enter Product Name" formControlName="name" name="name" required>
        <div *ngIf="productAddForm.get('name').touched || submitted" style='color:red;'>
            <div *ngIf="productAddForm.get('name').hasError('required')">Product Name is required</div> 
        </div>
    </div>

    <div class="form-group" [ngClass]="{'has-danger':!productAddForm.controls['price'].valid && (productAddForm.get('price').touched || submitted)}">
        <label for="price"><b>Price :</b></label>
        <input class="form-control" type="number" placeholder="Enter Price of the Product" formControlName="price" name="price" required>
        <div *ngIf="productAddForm.get('price').touched || submitted" style='color:red;'>
            <div *ngIf="productAddForm.get('price').hasError('required')">Price is required</div> 
        </div>
    </div>

    <div class="form-group" [ngClass]="{'has-danger':!productAddForm.controls['quantity'].valid && (productAddForm.get('quantity').touched || submitted)}">
        <label for="quantity"><b>Quantity :</b></label>
        <input class="form-control" type="number" placeholder="Enter Quantity of the Product" formControlName="quantity" name="quantity" required>
        <div *ngIf="productAddForm.get('quantity').touched || submitted" style='color:red;'>
            <div *ngIf="productAddForm.get('quantity').hasError('required')">Quantity is required</div> 
        </div> 
    </div>

    <div class="form-group" [ngClass]="{'has-danger':!productAddForm.controls['weight'].valid && (productAddForm.get('weight').touched || submitted)}">
        <label for="weight"><b>Weight :</b></label>
        <input class="form-control" type="text" placeholder="Enter weight of the Product" formControlName="weight" name="weight" required>
        <div *ngIf="productAddForm.get('weight').touched || submitted" style='color:red;'>
            <div *ngIf="productAddForm.get('weight').hasError('required')">Weight is required</div> 
        </div>
    </div>

    <div class="form-group" [ngClass]="{'has-danger':!productAddForm.controls['description'].valid && (productAddForm.get('description').touched || submitted)}">
        <label for="description"><b>Product Description  :</b></label>
        <input class="form-control" type="text" placeholder="Enter Product Description " formControlName="description" name="description" required>
        <div *ngIf="productAddForm.get('description').touched || submitted" style='color:red;'>
            <div *ngIf="productAddForm.get('description').hasError('required')">Product Description  is required</div> 
        </div>
    </div>

    <div class="form-group" [ngClass]="{'has-danger':!productAddForm.controls['image_url'].valid && (productAddForm.get('image_url').touched || submitted)}">
        <label for="image_url"><b>Product Image :</b></label>
        <input class="form-control" type="file" (change)="onFileSelect($event)" required>
        <div *ngIf="productAddForm.get('image_url').touched || submitted" style='color:red;'>
            <div *ngIf="productAddForm.get('image_url').hasError('required')">Product Image is required</div> 
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!productAddForm.valid">Submit</button>
</form>