
<section style="background : url('../../assets/img/images.jpg'); object-fit:cover ; height:100vh; background-repeat: no-repeat">
    <div class="container">
        <form id="searchForm" [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
            <div class="row">
                <h1 class="col-lg-12 text-center mb-5 welcome-heading">WELCOME TO E-BOS</h1>

                <div class="col-lg-12 mb-5">
                    <div class="row text-center">
                        <div class="col-lg-4 col-md-5 col-sm-12 p-0">
                            <input type="text" formControlName="search_keyword" class="form-control search-slt" placeholder="Enter Pickup City">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" formControlName="price_range">
                                <option selected>Select Vehicle</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" formControlName="manufacture">
                                <option>Select Vehicle</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                            <button type="submit" class="btn btn-primary search-btn" [disabled]="!searchForm.valid">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>