<app-guest-header></app-guest-header>
<div
    style="background : url('../../assets/img/images.jpg'); object-fit:cover ; min-height:100vh; background-repeat: no-repeat; background-attachment: fixed;">
    <div class="search-result-page">
        <h1 class="col-lg-12 text-center welcome-heading ">WELCOME TO E-BOS</h1>
        <div class="heading">
            <form id="searchForm" [formGroup]="searchForm" (ngSubmit)="findProducts(searchForm.value)">
                <div class="row pt-5">
                    <div class="col-lg-12 mb-5">
                        <div class="row text-center">
                            <!-- <div class="col-lg-4 col-md-5 col-sm-12 p-0">
                                <input type="text" class="form-control search-slt" formControlName="product_name"
                                    placeholder="Type Product Name">
                            </div> -->
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <select class="form-control search-slt" formControlName="min_price">
                                    <option value="0">Min Price is Zero</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="300">300</option>
                                    <option value="400">400</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <select class="form-control search-slt" formControlName="max_price">
                                    <option value="1000000">Max Price</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="300">300</option>
                                    <option value="400">400</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                                <select class="form-control search-slt" formControlName="manufacture_id">
                                    <option value="">Manufactures</option>
                                    <option *ngFor="let user of user_data" value="{{ user.id }}">
                                        {{user.name}}
                                    </option>
                                    
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <button type="submit" class="btn btn-primary search-btn"
                                    [disabled]="!searchForm.valid">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="content">
            <div class="results">
                <div class="results">
                    <div *ngFor="let product of products">
                        <div class="content-wrapper mb-3">
                            <img class="result-content-image"
                                src="https://homepages.cae.wisc.edu/~ece533/images/fruits.png">
                            <h6 class="result-content-title pt-2"> {{ product.name }} </h6>
                            <p class="result-content-description"> Product Price : {{ product.price }}/- </p>
                            <button class="btn btn-success add-to-cart-btn" (click)="addToCart(product)">Add to
                                Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>