<h2>Orders</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Products</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders">
            <td>{{ order.id }}</td> 
            <td>{{ order.temporyUser.email }}</td>
            <td>{{ order.temporyUser.address }}</td>
            <td>{{ order.temporyUser.phone }}</td>
            <td>
                <div *ngFor="let prod of order.orderProducts">
                    {{prod.quantity}} x {{prod.productModel.name}}
                </div>
            </td>
            <td>
                <a *ngIf="isApproved(order)" (click)="approve(order)"  class="btn btn-primary btn-sm">Approve</a>
                <span *ngIf="!isApproved(order)">APPROVED</span>
            </td>
            <td>
                <a *ngIf="isApproved(order)" (click)="reject(order)" class="btn btn-danger btn-sm">Reject</a>
                <span *ngIf="!isApproved(order)">APPROVED</span>
            </td>
        </tr>
    </tbody>
</table>