<h2>Orders</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>User Email</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let product of products">
            <td>{{ product.name }}</td> 
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.description }}</td>
            <td><img src="{{product.image_url}}" style="height: 40px; width: 50px;"></td>

            <td><a (click)="editProduct(product.id)" class="btn btn-warning btn-sm">Edit</a></td>
            <td><a (click)="deleteProduct(product.id)" class="btn btn-danger btn-sm">Delete</a></td>
        </tr> -->
    </tbody>
</table>