<div class="container">

    <form [formGroup]="userRegisterForm" (ngSubmit)="register(userRegisterForm.value)">

        <div class="form-group">
            <h2>User Register</h2>
            <label>User Name :</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Enter Product Name">

        </div>
        <div class="form-group">
            <label>location :</label>
            <input type="text" class="form-control" formControlName="location"
                placeholder="Enter location of the Product">
        </div>

        <div class="form-group">
            <label>contact :</label>
            <input type="text" class="form-control" formControlName="contact" placeholder="Enter Weight of the Product">
        </div>

        <div class="form-group">
            <label>email :</label>
            <input type="email" class="form-control" formControlName="email"
                placeholder="Enter Quantity of the Product">
        </div>

        <div class="form-group">
            <label>password :</label>
            <input type="text" class="form-control" formControlName="password" placeholder="Enter Product Description">

        </div>
        <div class="form-group">
            <label>repeatpassword :</label>
            <input type="text" class="form-control" formControlName="repeatpassword"
                placeholder="Enter Product Description">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!userRegisterForm.valid">Register</button>
    </form>
</div>